 <div class="col-sm-5 col-sm-offset-1" id="ravepay">
    <div class="row">
      <div class="col-12">
        <h1 class="text-left">Pay with Rave</h1>
        <form>
          <div class="row">
            <div class="col-md-8">
              <label for="">Email address</label>
              <input type="text" name="email" id="email" class="form-control border-input" value="{{ user.email }}" placeholder="Enter email address" style="margin-bottom: 30px;">
            </div>
          </div>

          <button class="btn btn-primary" id="submit" type="button">Pay Now</button>
          <div class="clearfix"></div>
      </form>

                </div>
        </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>

<script type="text/javascript">

//var hashedValue = "08455e419ee915d5e215a53830e2fae29b4d5a0c5f7a4a5ec491bb8c4f8bc369"; // this is a variable to hold the hashed value
    var txRef = "{{ basket.id }}"; // this is variable to hold the uniqeue transaction reference
    // $.ajax({
    //   url: "/integrity", // this is an endpoint that sends the hashed values and transaction reference to the client.
    //   headers: { contentType: "application/json" },
    //   dataType: "json",
    //   type: "POST",
    //   cache: false,
    //   success: function(response) {
    //     console.log(response);
    //     hashedValue = response.hash;
    //     txRef = response.txref;
    //   },
    //   error: function(err) {
    //     console.log(err);
    //   }
    // });
    
    document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById("submit").addEventListener("click", function(e) {
        var PBFKey = "{{ client_side_payment_processor.publishable_key }}";
        var email = document.getElementById('email').value;
    
        // getpaidSetup is Rave's inline script function. it holds the payment data to pass to Rave.
        getpaidSetup({
          PBFPubKey: PBFKey,
          customer_email: "{{ user.email }}",
          customer_firstname: "{{ user.first_name }}",
          customer_lastname: "{{ user.last_name }}",
          amount: {{ order_total.incl_tax|floatformat:2 }},
          customer_phone: "",
          country: "NG",
          currency: "NGN",
          txref: txRef, // Pass your UNIQUE TRANSACTION REFERENCE HERE.
          //integrity_hash: hashedValue, // pass the sha256 hashed value here.
          onclose: function() {},
          callback: function(response) {
             flw_ref = response.tx.flwRef;// collect flwRef returned and pass to a                  server page to complete status check.
          console.log("This is the response returned after a charge", response);
          if(response.tx.chargeResponse =='00' || response.tx.chargeResponse == '0') {
            window.location = "{% url 'flutterwave:execute' %}?txref="+txRef; //Add your success page here
          } else {
            window.location = "{% url 'flutterwave:execute' %}?txref="+txRef; // redirect to a failure page.
          }
          }
        });
      });
    });
</script>
